
h1 {
  text-align: center;
}
nav{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}
nav a {
  text-decoration: none;
  color: #555;
  padding-left: 10px;
  padding-right: 10px;
  background-color: beige;
}

figcaption {
  font-size: small;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  justify-content: center;
  text-align: center;
  width: 900px;
  margin: auto;
  margin-top: 10px;
}

.details{
  margin-top: 150px;
  background: #FF796E;
  justify-content: center;
  color: black;
  float: left;
  display: flex; 
  padding: 20px 50px;

}

.col-1{
  justify-content: center;
  width: 25%;
  float: left;
  
}
.col-2{
  justify-content: center;
  width: 25%;
  float: left;
  
  
}
.col-3{
  justify-content: center;
  width: 25%;
  float: left;
  
}
.col-4{
  justify-content: center;
  width: 25%;
  float: left;
  
}
